@media screen and (min-width: 601px) {
  .header {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    z-index: 1000;
    color: #062f48;
  }
}

@media screen and (max-width: 601px) {
  .header {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0rem;
    z-index: 1000;
    color: #062f48;
  }
}

.menu-icon {
  font-size: 4rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #fffcfa;
}


.modal-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: 100vh;
  background: #7ee9f9;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  padding: 2rem;
  z-index: 999;
  color: #062f48;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 4rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #fffcfa;
}

.modal-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}

.modal-menu li {
  margin: 1rem 0;
  font-size: 1.5rem;
}

@media screen and (min-width: 601px) {
  .green-bar {
    width: 100vw;
    height: 200px;
    background-color:#136934;
    display: flex;
    justify-content: center; /* 横方向中央揃え */
    align-items: center;     /* 縦方向中央揃え */
    overflow: hidden; /* これではみ出た画像を隠す */
  }

  .header-image {
    width: 100vw;
    max-width: 100vw;
    height: 300px; /* 必要に応じて調整 */
    object-fit: contain;
  }
}

@media screen and (max-width: 601px) {
  .green-bar {
    width: 100vw;
    height: 100px;
    background-color:#136934;
    display: flex;
    justify-content: center; /* 横方向中央揃え */
    align-items: center;     /* 縦方向中央揃え */
    overflow: hidden; /* これではみ出た画像を隠す */
  }

  .header-image {
    width: 80vw;
    max-width: 100vw;
    height: 200px; /* 必要に応じて調整 */
    object-fit: contain;
  }
}